﻿<%@ Page Title="" Language="C#" MasterPageFile="~/LCindex.Master" AutoEventWireup="true" CodeBehind="join.aspx.cs" Inherits="LCTender.Main.join" %>
<asp:Content ID="Content1" ContentPlaceHolderID="StyleSection" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentSection" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ScriptSection" runat="server">
</asp:Content>
